<div class="container-fluid bg-primary">

  <div class="row">
    <div class="col">
      <p>Agregar un item</p>
    </div>
    <div class="col">
      <p>tu lista ({{itemCount}})</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-info" [@goals]="goals.length">
  <div class="row">
    <div class="col">
      <p>Use el formulario de abajo para agregar un item</p>
      <div class="form-group">
        <form>
          <div class="form-row">
          <input type="text" class="form-control" name="item" [(ngModel)]="goalText" placeholder="un item ..." required>
        </div>
        <div class="form-row">  
        <input type="submit" class="btn btn-success" [value]="btnText" (click)="addItem()">
        </div>
        </form>
      </div>
    </div>
    <div class="col">
      <p class="bg-info" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{ goal }}
      </p>
    </div>
  </div>